* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.movies-container{
    background-color: #ccffcc;
}

.actors-container{
    background-color: #ccccff;
}

.generes-container{
    background-color: #ffcc99;
}